body {
  font-weight:100;
  font-family: 'Dongle', sans-serif;
font-family: 'Quicksand', sans-serif;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#ebb {
  width: 100px;
  height: 100px;
}

/* mobile vers? */
/* .mealmaker {
  max-width:600px;
  margin:0 auto;
  background:#efefef;
  text-align:center;
} */

* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
  text-align: center;
}

button#food, button#drinks {
  cursor: pointer;
  width: 150px;
  background-color: #c1a283;
  border: none;
  padding: 10px;
  font-family: 'Dongle', sans-serif;
  font-size: 2em;
}

button.lvl2 {
  cursor: pointer;
  width: 150px;
  background-color: white;
  border: none;
  padding: 10px;
  font-family: 'Dongle', sans-serif;
  font-size: 1.5em;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.clicked {background:#c1a283 !important;}
.clicked .add-item {
  background:#f0b311 !important;
}

.lvl2clicked {
  background-color: #f0b311 !important;
}

.btn {
  /* display:inline-block; */
  /* background:#c1a283; */
  color:#000;
  cursor:pointer;
  font-size:.7rem;
  letter-spacing:1px;
  border:none;
  text-align: left;
  width: 500px;
  /* height:137px; */
  /* margin: 8px 5px; */
}
.btn h2 {
  margin-bottom:2px;
  /* padding:0px 0px 10px 18px; */
  font-size:1.2rem;
}
.btn small {display:block;}
.add-item {
    display: block;
    margin: 10px auto 0 auto;
    padding: 10px 20px;
    border: 2px solid #f0b311;
      font-size:1.2rem;
      text-align: center;
}
.dollar-sign {
  font-size:1.1rem;
  display:inline-block;
}
.price {
  background: none;
  color:#000;
  text-align:center;
  margin:9px auto 0 auto !important;
  display:inline-block;
  font-size:1.1rem;
  text-align:center;
  border:none;
  max-width:50px;
}
#calculate {
      display: block;
    margin: 30px auto;
    text-align: center;
    border: none;
    background: #27ae60;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
}
#reset {
      display: block;
    margin: 30px auto;
    text-align: center;
    border: none;
    background: #2980b9;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.total, .totaltax, .totalwithtax {
  display:inline-block;
  width:48%;
  text-align:left;
  padding:10px 0;
}
.total-label {display:inline-block;}
.grandtotal-container {
      width: 100%;
    background: #95a5a6;
    color: #fff;
  display:block;
}
.total-container {
  display:block;
}
.total-label {
  width:48%;
  text-align:right;
  display:inline-block;
  padding:10px 0;
}
.grandtotal-container {
  font-size: 1.3rem;
  font-weight: 400;
}
